html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.bg-blue-1 {
    // background: var(--blue-1);
    background-image: linear-gradient(180deg, var(--blue-1), var(--blue-0));
}

.bg-blue-4 {
    background: var(--blue-4);
}

.bg-blue-6 {
    background: var(--blue-6);
}

.b--blue-2 {
    border-color: var(--blue-2);
}

.blue-6 {
    color: var(--blue-6);
}

.blue-3 {
    color: var(--blue-3);
}

.blue-7 {
    color: var(--blue-7);
}

.gray-3 {
    color: var(--gray-3);
}

.gray-4 {
    color: var(--gray-4);
}

.min-h-75 {
    min-height: 75%;
}