html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.bg-blue-1 {
    // background: var(--blue-1);
    background-image: linear-gradient(180deg, var(--blue-1), var(--blue-0));
}

.bg-blue-4 {
    background: var(--blue-4);
}

.bg-blue-6 {
    background: var(--blue-6);
}

.b--blue-2 {
    border-color: var(--blue-2);
}

.blue-6 {
    color: var(--blue-6);
}

.blue-3 {
    color: var(--blue-3);
}

.blue-7 {
    color: var(--blue-7);
}

.gray-3 {
    color: var(--gray-3);
}

.gray-4 {
    color: var(--gray-4);
}

.min-h-75 {
    min-height: 75%;
}


.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 0;
        right: 100%;
        bottom: 0;
        background: var(--blue-7);
        height: 1px;
        transition-property: right;
        transition-duration: 0.2s;
        transition-timing-function: ease-out;
    }
    &:hover:before, :focus:before, :active:before {
        right: 0;
    }
}